# Byte-compiled / optimized / DLL files
__pycache__/
#*.py[cod]

# C extensions
*.so
#*.packages
#*.dll

# distribution / packaging
bin/
build/
data/
pictures/
*.egg-info/
*.egg
.installed.cfg

# pycharm project
.idea/

# Sphinx documentation
doc/build/
